<div class="card" appMaterialElevation [defaultElevation]="0" [raisedElevation]="6" *ngIf="(movie$|async) as movie">
  <mat-card>
      <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
          <mat-card-title class="mat-card-title">{{ movie.name! }}</mat-card-title>
          <mat-card-subtitle>{{ movie.channelId! }}</mat-card-subtitle>
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
              <img mat-card-image [src]="movie.logo!" height="40px" />
          </div>
      </mat-card-header>
      <mat-card-content>
          <div class="m-2">
            <video #target id="my-video" class="video-js vjs-fluid" ></video>
          </div>
      </mat-card-content>
  </mat-card>
</div>
       
    