.mat-mdc-form-field {
  font-size: 16px;
  width: 90%;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
.list-hide {
  display: none;
}

.list-show {
  display: block;
}

input.mat-input-element {
  color: transparent;
}
