<div class="my-3" fxLayout="row-reverse" fxLayoutAlign="space-around end" fxLayoutGap="10px" fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="space-between center">
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
    <div fxFlex="0 1 calc(35% -10px)" *ngIf="!(isLoading$|async)&&(isLoaded$|async)&&(filteredEntities$|async)">
        <app-iptv-list [objects]="filteredEntities$|async" (onIptvEmit)="notify($event)">
            <!-- <div name="filterform" fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutGap="5px">
            <form [formGroup]="filterValues">
                <mat-form-field appearance="outline" fxFlex="1 0 calc(33.3% - 5px)">
                    <mat-label>Idioma</mat-label>
                    <mat-select formControlName="languageCodes" placeholder="Selecciona un idioma">
                        <mat-option *ngFor="let key of langKeys" [value]="key">
                            {{lang[key]}}
                        </mat-option>
                    </mat-select>
                    <button mat-icon-button matSuffix
                        (click)="filterValues.controls.languageCodes.reset();$event.stopPropagation()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="1 0 calc(33.3% - 5px)">
                    <mat-label>País de origen</mat-label>
                    <mat-select formControlName="countryCode" placeholder="Selecciona un país">
                        <mat-option *ngFor="let key of countryKeys" [value]="key">
                            {{countries[key]}}
                        </mat-option>
                    </mat-select>
                    <button mat-icon-button matSuffix
                        (click)="filterValues.controls.countryCode.reset();$event.stopPropagation()">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </form>
        </div> -->
        </app-iptv-list>
    </div>
</div>
<!-- <div>{{(iptvs$|async) |json}}</div> -->