<div [ngClass]="{'dark-theme': isDarkTheme|async}" fxLayout="column" fxFlexFill>
  <app-header fxFlex class="d-print-none fix-top" [isHandset]="isHandset$|async">
    <mat-progress-bar name="progressBar" *ngIf="loading" mode="query" color="primary">
    </mat-progress-bar>
  </app-header>
  <!-- <div *ngIf="loading"> -->
  <!-- <mat-progress-bar name="progressBar" *ngIf="loading" mode="query" color="primary"> </mat-progress-bar> -->
  <!-- </div> -->
  <!-- <div fxFlex> -->
  <app-sidenav fxFlex [isHandset]="(isHandset$|async)"></app-sidenav>
  <!-- </div> -->
</div>