#parallax {
  position: relative;
  width: 100vw;
  height: calc(100vh - 55px);
  background-image: url(https://melchor.web.app/assets/images/layer1.png),
    url(https://melchor.web.app/assets/images/layer2.png),
    url(https://melchor.web.app/assets/images/layer3.png),
    url(https://melchor.web.app/assets/images/layer4.png),
    url(https://melchor.web.app/assets/images/layer5.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 110% 110%;
}
h1 {
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-family: "Arial";
  text-transform: uppercase;
  opacity: 0.2;
  font-size: 70px;
}
