<div class="card" appMaterialElevation [defaultElevation]="0" [raisedElevation]="6" *ngIf="(iptv$|async) as iptv">
    <mat-card>
        <mat-card-header fxLayout="row" fxLayoutAlign="space-between center">
            <mat-card-title class="mat-card-title">{{ iptv.channelName! }}</mat-card-title>
            <mat-card-subtitle>{{ iptv.channelId! }}</mat-card-subtitle>
            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="5px">
                <img mat-card-image [src]="iptv.logo!" height="40px" />
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="m-2">
                <video appHlsVideoPlayer [stream]="iptv.url" controls autoplay muted></video>
            </div>
        </mat-card-content>
    </mat-card>
</div>