@import "./../../../../assets/theme/colors";
.sidenav {
  //height: inherit;
  width: min-content;
  border: none;
  mat-toolbar {
    background: inherit;
  }
}
.active {
  color: $success-color;
}
.sidenav-container {
  height: calc(100vh - 54px);
}
