<!-- <app-player [iptv]="(iptv$|async)"></app-player> -->
<!-- <app-iptv-list [objects]="(iptvs$|async)!" (onIptvEmit)="notify($event)"></app-iptv-list> -->
<app-iptv-list *ngIf="!(isLoading$|async)&&(isLoaded$|async);else vspinner" [objects]="iptvs$|async"
    (onIptvEmit)="notify($event)"></app-iptv-list>
<ng-template #vspinner>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</ng-template>