.mat-mdc-form-field {
  width: 100%;
}
// input.mat-input-element {
//   color: transparent;
// }


  .paginator {
    font-size: 80%;
    margin: 0 !important;
    background-color: transparent !important;
  }