<!-- <button (click)="uploadCategories()">Categories</button>
<button (click)="uploadCountries()">Countries</button> -->
<!-- <br>

<button (click)="uploadStreams()">Streams</button> -->
<br>
<button (click)="uploadChannels()">Channels</button>
<a download="{{filename}}" [href]="dataUri">
    download
</a>
<br>
<!-- <input type="text" value="categoria"> -->
<!-- <input type="file" multiple (change)="detectFiles($event)"> -->
<!-- <button (click)="uploadFile()">Enviar</button> -->
<!-- <div>{{ uploadPercent|async }}</div>
<a [href]="downloadURL">{{ downloadURL }}</a>
{{selectedFiles|json}} -->