<!-- <ng-content #filterform></ng-content> -->
<div fxLayout="column" fxLayoutAlign="start stretch">
  <mat-form-field>
    <mat-label>{{"search-by-word"|translate}}</mat-label>
    <input #input matInput (keyup)="applyFilter($event.target.value)" placeholder="¿cómo se llama el canal?">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <table appMaterialElevation mat-table #table [dataSource]="dataSource" aria-label="iptv channels" matSort
    (matSortChange)="announceSortChange($event)">

    <ng-container matColumnDef="channelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordena por nombre">
        <span *ngIf="dataSource?.data?.length>0"> <span
            class="badge bg-success">{{dataSource?.data?.length}}</span>
          {{"in"|translate}}
          {{(dataSource?.data[0]?.countryCode|translate).slice(5,end)}}</span>
      </th>
      <td fxLayout="row-wrap" fxLayoutAlign="space-between center" mat-cell *matCellDef="let row">
        <div>{{row.channelName}}</div>
        <div><img class="row-bg" [src]="(row.logo)?row.logo:'/assets/icons/bad-tv.png'" /></div>
      </td>
    </ng-container>

    <ng-container matColumnDef="paginator">
      <td fxLayout="row-wrap" fxLayoutAlign="space-between center" mat-footer-cell *matFooterCellDef [colSpan]="displayedColumns.length">
        <mat-paginator  showFirstLastButtons  class="paginator" #paginator
          [length]="dataSource?.data?.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Selección de páginas"></mat-paginator>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="row.channelId">
    </tr>
    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="text-center h2" colspan="3"><span class="badge bg-warning text-light">No encontré
          resultados.</span></td>
    </tr>
    <tr mat-footer-row *matFooterRowDef="['paginator']"></tr>
  </table>
</div>