::ng-deep .mat-paginator-container {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;

  //font-size: xx-small;
}

.paginator {
  // font-size: 80%;
  margin: 0 !important;
  background-color: transparent !important;
  font-family: "Fredoka", sans-serif;
  // font-size: small;
 // width: 3vh;
  // margin-top: -1vh;
}
::ng-deep {
  table {
    border-radius: 5px;
    min-width: fit-content;
    background-color: transparent !important;
  }
  tbody {
    display: block;
    overflow: auto;
    max-height: 50vh;
    width: 100%;
    padding-top: 2px;
    padding-bottom: 5px;
  }
  thead,
  tbody tr {
    // height: 42px;
    display: table;
    width: 100%;
    table-layout: fixed;
  }
}
.mdc-data-table__header-row {
  height: 42px;
  font-style: bold;
  font-size: 15px;
  background-color: transparent !important;
  color: #5b380e;
  font-family: "Fredoka", sans-serif;
}
.mat-mdc-row {
  height: 42px;
  //border-bottom: 1px solid transparent;
  // border-top: 1px solid transparent;
  .mat-mdc-cell {
    font-family: "Fredoka", sans-serif;
    font-size: x-large;
    cursor: pointer;
  }
}
.mat-mdc-row:hover {
  height: 42px;
  z-index: 10;
  box-shadow: 5px 2px 5px 2px rgba(0, 0, 0, 0.4);
}

.row-bg {
  height: 32px;
  margin: 5px;
  max-width: 250px;
  opacity: 0.5;
}

.mat-footer-cell{
  border-top: 5px solid rgba(0, 0, 0, 0.82);
}
