<!-- <ng-content #filterform></ng-content> -->
<div class="pt-1" fxLayout="column" fxLayoutAlign="space-evenly stretch">
  <!-- <div fxLayo> ut="row" fxLayoutAlign="space-between stretch"> -->
  <mat-form-field>
    <mat-label>{{"search-by-word"|translate}}</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
  <!-- </div> -->

  <mat-paginator class="paginator" #paginator [length]="objects.length" [pageSize]="size" (page)="linkListToPaginator()"
    [pageSizeOptions]="[6,12 ,18,24]" showFirstLastButtons aria-label="Select channel"></mat-paginator>
  <div *ngIf="dataSource.data as datos;else listaVacia">

    <div fxLayout="row wrap">
      <ng-container *ngFor="let tdt of datos">
        <img [src]="tdt.logo" [alt]="tdt.name" [routerLink]="tdt.id">
      </ng-container>
    </div>
  </div>
  <ng-template #listaVacia>
    <div fxLayout="row wrap" fxLayoutAlign="center center">
      <h2 class="text-center"><span class="badge text-bg-warning text-light">No encontré
          resultados.</span>
      </h2>
    </div>
  </ng-template>
</div>