<div class="content">
  <div class="paralax">
    <div class="layer rocks2"></div>
    <div class="layer rocks1"></div>
    <div class="layer hills"></div>
    <div class="layer foreground"></div>
    <div class="jumbotron">
      <div class="text-center">
        <p class="display-4 head-component text-danger">
          {{ "notfound-module-title" | translate }}
        </p>
        <p class="mat-h1">
          {{ "notfound-module-description" | translate }}
        </p>
        <p>
          {{ "notfound-module-message" | translate }}
        </p>
        <button mat-raised-button color="primary" routerLink="/iptvs">
          <mat-icon>live_tv</mat-icon>
          <span>Canales</span>
        </button>
      </div>
    </div>
  </div>

</div>