<div [@enter3] (@enter3.done)="animationState = !animationState">
  <!-- <app-card-header [cardheaderTitle]="{{'card-header-title'|translate}}"></app-card-header> -->
  <mat-card class="text-center" style="width: fit-content" appMaterialElevation [raisedElevation]="raisedElevation"
    [defaultElevation]="defaultElevation">
    <mat-card-header>
      <img mat-card-sm-image src="/assets/icons/openTv_transparent.png" />
      <mat-card-title [@rubberBand]="animationState"><span class="view-title">{{"wellcome-header-title"|
          translate}}</span>
      </mat-card-title>
      <mat-card-subtitle class="view-subtitle">{{"wellcome-header-description" |translate}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <hr />
    </mat-card-content>
    <mat-card-footer>
      <button [@hueButton]="hueBtnState" (@hueButton.done)="hueBtnState = !hueBtnState" mat-button color="warn"
        routerLink="/iptvs">
        <mat-icon>live_tv</mat-icon>
        <span>{{"channels"|translate}}</span>
      </button>
      <button [@hueButton]="hueBtnState" (@hueButton.done)="hueBtnState = !hueBtnState" mat-button color="warn"
        routerLink="/tdts">
        <mat-icon>satellite_alt</mat-icon>
        <span>{{"tdt_channels"|translate}}</span>
      </button>
      <!-- <button [@hueButton]="hueBtnState" (@hueButton.done)="hueBtnState = !hueBtnState" mat-button color="warn"
        routerLink="/movies">
        <mat-icon>live_tv</mat-icon>
        <span>{{"movies_channels"|translate}}</span>
      </button>-->
    </mat-card-footer> 
  </mat-card>
</div>